@import 'tailwindcss';

html,
body {
  font-family: var(--font-family);
  background-color: var(--color-background);
}

@theme {
  --font-family: 'Inter', sans-serif;
  --color-background: #f8f9fa;
  --color-primary-gray: #2422208f;
  --color-secondary-gray: #7c7c7c;
  --color-primary: #b9bbf6;
  --color-border-gray: #0000001a;
}

.sidebar-text {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-primary-gray);
}
